<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum</title>
    <link rel="stylesheet" href="../static/css/apariencia.css">
</head>

<body>
    <header>
    </header>
    <main class="flex">
        <section id="izquierda">
            <h1>Nicolas Bravo</h1>
            <img id="foto" src="../static/img/foto.jpg" alt="Foto para el curriculum" />
            <article>
                <h2 class="subtituloIzquierda">Contacto</h2>
                <article class="datosIzquierda">
                    <h3>Email</h3>
                    <p>nicobrab243@gmail.com</p>
                    <h3>Celular</h3>
                    <p>095007401</p>
                </article>
            </article>
        </section>
        <section id="derecha">
            <section id="datosPersonales">
                <h2 class="subtituloDerecha">Datos personales</h2>
                <p class="secciones"><strong>Nombre completo: </strong>Gonzalo Nicolas</p>
                <p class="secciones"><strong>Apellidos: </strong>Bravo Pino</p>
                <p class="secciones"><strong>Edad: </strong>20 años</p>
                <p class="secciones"><strong>Nacionalidad: </strong>Uruguayo</p>
                <p class="secciones"><strong>Lugar de residencia: </strong>Mercedes Soriano, Uruguay</p>
            </section>
            <section id="estudiosRealizados">
                <h2 class="subtituloDerecha">Estudios realizados</h2>
                <article>
                    <p class="secciones"><strong>Ciclo basico:</strong> Completo</p>
                    <p class="secciones">
                        <strong>Bachillerato:</strong> Deporte y recreación
                        en Escuela Técnica Mercedes “Prof. Washington Lockhart”
                    </p>
                    <p class="secciones">
                        <strong>Extra:</strong> Cursando Certified tech
                        developer en Digital House
                    </p>
                </article>
            </section>
            <section id="conocimientos">
                <h2 class="subtituloDerecha">Titulos y conocimientos obtenidos</h2>
                <article>
                    <ul id="titulos">
                        <li>Formación en tecnologia Sembrando TIC 2021</li>
                        <li>WebApp: Introducción al desarrollo de aplicaciones web (Universidad Autónoma de Madrid)</li>
                        <li>
                            UAMY.CP9.3x: Almacenamiento, Acceso y Visualización de Datos con
                            Python (Red de Universidades Anáhuac)
                        </li>
                        <li>
                            UAMY.CP9.2x: Accediendo a los Datos de la Web con Python: Web
                            Scrapping y APIs (Red de Universidades Anáhuac)
                        </li>
                        <li>UVA.CP7.1x: Python de la A a la Z (Red de Universidades Anáhuac)</li>
                        <li>IGP101.x: Introducción a la gestión de proyectos (Universitat Politécnica de valencia)</li>
                        <li>
                            SIC101.3x: Fundamentos TIC para profesionales de negocios:
                            Desarrollo de Software (Universitat Politécnica de valencia)
                        </li>
                        <li>
                            SIC101.4x: Fundamentos TIC para profesionales de negocios:
                            Programación (Universitat Politécnica de valencia)
                        </li>
                        <li>DTFK1.0x: Lánzate a la Innovación con Design Thinking (Pontificia Universidad Javeriana)
                        </li>
                    </ul>
                </article>
            </section>
            <section>
                <h2 class="subtituloDerecha">Idiomas</h2>
                <ul>
                    <li>Español</li>
                    <li>Ingles</li>
                </ul>
            </section>
        </section>
    </main>
    <footer></footer>
</body>

</html>